/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif
  }
  p {
    font-family: Arial, Helvetica, sans-serif
  }

/* Navigation bar */
.customNav {
    position: fixed;
    width: 100%;
    background-color: lightseagreen;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 20 !important;
  }

  /* Navigation dropdown menu */
.dropdown-menu {
  background-color: lightseagreen;
  background-size: cover;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: black;
}

/* Jumbotron  */
.jumbotron {
    background-image: url(../images/asoggetti-GYr9A2CPMhY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }

.btn-primary{
    background-color: lightseagreen;
    outline-color: none;
}

/* Cards */
.content {
    padding: 50px;
  }
  .sectionHeading {
    text-align: center;
  }
  .showsNear  {
    padding: 0px 30px 30px 30px;
  }
  .cardContainer {
    text-align: center;
  }

  /* Content */
.row-content{
    background-color: rgb(245, 245, 245);
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.imageContainer img {
    width: 100%;
  }

  .valuePropTop {
    margin-top: 15px;
  }

.valuePropBottom{
    margin-bottom: 15px;
}

/* Footer */
.emailContain {
    background: url(../images/isaac-wendland-7DCZgKyp8vw-unsplash.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 500px;
  }
  
  /* Footer form */
  form {
    width: 700px;
    height: 150px;
    margin: 35px ;
    padding: 45px;
    border: 1px solid #F2F2F2;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
    background-color: white;